.c-title__contact{
  font-size: rem(20); 
  color: $text-color; 
  font-family: $font-family-base;
  position: relative;
  text-align: center;
  z-index: 2;
  display: inline-block;

  @include mq(tab){
      font-size: rem(35);
  }
  &:before{
    position: absolute;
    content:"Contact";  
    color: #3f3f25;
    color: #70704b;
    letter-spacing: rem(5);
    font-size: rem(50);
    font-family: $font-family-en;
    z-index: -1;
    top: -160%;
    left: 50%;
    transform: translateX(-50%);
    
   
    @include mq(tab){
       bottom: 0;
        
        font-size: rem(110);
        left:rem(-300);
      
    }
    
  }
}