<footer class="l-footer p-footer">
 <div class="l-footer__inner">
   <div class="l-footer__logo c-logo">
     <img src="../../images/common/CodeUps.svg" alt="codeupsのロゴ">
   </div>
   <nav class="l-footer__menus">
     <ul class="l-footer__menu">
       <li class="l-footer__menu__list"><a href="">トップ</a></li>
      <li class="l-footer__menu__list"><a href="">お知らせ</a> </li>
       <li class="l-footer__menu__list"><a href="">事業内容 </a></li>
       <li class="l-footer__menu__list"><a href="">制作実績</a> </li>
       <li class="l-footer__menu__list"><a href="">企業概要</a> </li>
       <li class="l-footer__menu__list"><a href="">ブログ</a> </li>
       <li class="l-footer__menu__list"><a href="">お問い合わせ</a> </li>
       
     </ul>
   </nav>
  </div>
   <div class="l-footer__copylights">
    <p class="l-footer__copylight">&copy; 2021 CodeUps Inc.</p> 
   </div>
   <div class="l-footer__btn">
  <a href="#">
    <img class="l-footer__btn__img-white" src="../../images/common/top-return-hover.svg" alt="トップに戻るボタン">
    <img class="l-footer__btn__img" src="../../images/common/top-return.svg" alt="トップに戻るボタン">
  </a>
   </div>
</footer>
