.p-contact{
    background: $background-gray;
    text-align: center;
    padding-top: rem(67);
    padding-bottom: rem(64);
  
}
.p-contact__title{
 
    text-align: center;
}

.p-contact__text{
    text-align: center;
    padding-top: rem(19);
    display: block;
}
.p-contact__btn{
   text-align: center;
   padding-top: rem(24);
}